body, html {
    height: 100%;
    background-color: rgb(236, 192, 172);
    font-family: 'Open Sans Condensed', sans-serif;
    color: navy;
    text-align: center;
    scroll-behavior: smooth;
    margin: auto;
}

h1 {
  font-style: italic;
}

.dropdowns {
  position: fixed;
  z-index: 1;
}

#dropdownMenuLink {
  border: 3px solid white;
  border-radius: 6px;
  padding: 2% 5% 2% 5%;
  background-color: rgb(236, 192, 172);
  color: black;
}

.underline {
    -moz-background-size: 257px 954px;
    -o-background-size: 257px 954px;
    background-size: 257px 954px;
    width: 130px;
    height: 9px;
    background-position: 0 -634px;
}

/* The beginning hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/g+l.jpg");

  /* Set a specific height */
  width: 100%;
  height: 90%;


  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  margin-bottom: 5%;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 5px;
  background-color: peachpuff;
  top: 0;
  bottom: 0;
  left: 15%;
}

/* Container around content */
.containerT {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
}

/* The circles on the timeline */
.containerT::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  left: calc(15% - 5px);
  background-color: black;
  border: 3.25px solid white;
  top: 22.5px;
  border-radius: 50%;
  z-index: 1;
}


/* Add arrows to the right container (pointing left) */
.containerT::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: calc(27% - 1px);
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  
}

/* The actual content */
.event {
  left: 25%;
  width: 75%;
  padding: 20px;
  position: relative;
  border-radius: 6px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2));
  background-size: contain;
  background-repeat: no-repeat;
  color: white;
}

.hero-text2 {
  text-align: center;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/*this is the images in carousel for activities in tucson*/
.d-block {
  width: 100%;
  min-height: 300px;
  max-height: 550px;
}

.img-overlay {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: none;
}

.img-overlay:before {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.5) 100%);
}

/* Create two equal columns that floats next to each other */
.col {
  float: left;
  width: 50%;
}

.row {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url("../images/cactus3.png");
  background-position: center;
  background-size: cover;
  image-rendering: optimizeQuality;
  background-repeat: no-repeat;
  color: white;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.person-img {
  width: 90%;
  max-width: 320px;
}

#ourStory, #events, #accommodations, #housekeeping, #activities, #contact {
  margin: 5% 0% 0% 0%;
}


.events {
  background-image: url("../images/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}

.contact {
  padding: 35% 0% 10% 0%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/g+lFam.jpg");
  background-size: cover;
  background-position-y: 30%;
  color: white;
}

.footer {
  margin-top: 5%;
}

#emailUs {
  color: white;
  font-size: 50px;
  font-style: italic;
}

#directMe {
  color: white;
  font-size: 50px;
}

hr {
  width: 75%;
  color: black;
}